.home {
  font-family: 'LabGrotesque-Thin';
  width: 100%;
  height: calc(70 * var(--vh));
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: calc(20 * var(--vh));
}

.home-content {
  width: 35vw;
}

.home-content h1 {
  text-align: left;
  font-family: 'GothiaSerif-Bold';
}

.submit {
  justify-content: left;
  margin-top: 40px;
}

.home-inside {
  display: flex;
  gap: 70px;
}

a {
  color: white;
}

.gif-center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 650px) {
  @media screen and (max-width: 650px) {
    .home {
      font-family: 'LabGrotesque-Thin';
      width: 100%;
      height: calc(80 * var(--vh));
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: calc(10 * var(--vh));
    }

    .home-content h1 {
      text-align: center;
    }

    .home-inside {
      display: flex;
      flex-direction: column;
    }
    .gif {
      width: 200px;
      height: 200px;
    }

    .home-content {
      width: 90vw;
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-inside {
    gap: 10px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 375px) and (min-height: 544px) and (max-height: 544px) {
  .home {
    height: calc(110 * var(--vh));
    padding-bottom: calc(0 * var(--vh));
  }

  .home-inside {
    gap: 10px;
  }
}
